html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
    background-color: #1e1e2f;
    color: #fff;
}

a, .btn-link {
    color: #006bb7;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.content {
    padding-top: 1.1rem;
}

h1:focus {
    outline: none;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid #e50000;
}

.validation-message {
    color: #e50000;
}

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

.darker-border-checkbox.form-check-input {
    border-color: #929292;
}


p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 10px;
}

h1 {
    margin-bottom: 25px;
}

h3 {
    color: #f9a826;
    border-bottom: 2px solid #f9a826;
    padding-bottom: 5px;
    margin-top: 20px;
}

img {
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.2);
}

.RadzenStack {
    background: #252542;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.RadzenCard {
    background: #2e2e4d;
    border-radius: 10px;
    padding: 15px;
}

.RadzenChart {
    background: #252542;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.RadzenGridLines {
    stroke: #f9a826;
}

.RadzenAxisTitle {
    fill: #f9a826;
    font-size: 14px;
}

.custom-container {
    position: relative;
    padding: 20px;
    border: 2px solid #f9a826;
    border-radius: 15px;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 1.6;
}

.logo {
    float: right;
    width: 250px;
    height: auto;
    margin: auto 50px;
}

.rectangle-list {
    counter-reset: li;
    list-style: none;
    max-width: 600px;
    padding: 0;
}

.rectangle-list li {
    counter-increment: li;
    position: relative;
    margin: 0.5em 0 0.5em 2.5em;
}

.rectangle-list li::before {
    content: counter(li);
    position: absolute;
    left: -2.5em;
    top: 50%;
    margin-top: -1em;
    background: #f9a826;
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
    color: white;
}

.rectangle-list li a {
    display: block;
    padding: 0.4em 0.4em 0.4em 0.8em;
    background: #2e2e4d;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease-out;
}

.rectangle-list li a:hover {
    background: #f9a826;
    color: black;
}

.form-container {
    background-color: #252542;
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
    padding: 30px 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1000%;
    width: 50%;
    margin: 0 auto;
    padding: 0 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    color: #f9a826;
    margin-bottom: 5px;
    display: block;
}

.styled-input {
    background-color: #2e2e4d;
    border: 1px solid #444;
    color: #fff;
    border-radius: 8px;
    padding: 10px;
    width: 300px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.styled-input:focus {
    border-color: #f9a826;
    box-shadow: 0 0 8px #f9a82666;
    outline: none;
}

form button[type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: orange;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
}

    form button[type="submit"]:hover {
        background-color: #ffae42;
    }
