@page "/prediction"

@using BitcoinPriceForecasting.ViewModels
@using Common.Entities
@using Microsoft.Extensions.ML
@using Microsoft.ML
@inject PredictionEnginePool<HistoricalDataRecord, HictoricalDataPredictionResult> PredictionEnginePool

<h3>Prediction</h3>

<EditForm Model="@_data" OnValidSubmit="@HandleSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label for="dateInput">Date:</label>
        <InputDate id="dateInput" @bind-Value="_data.Date" class="form-control" />
    </div>

    <div>
        <label for="numberInput">Market Cap:</label>
        <InputNumber id="numberInput" @bind-Value="_data.MarketCap" class="form-control" />
    </div>

    <div>
        <label for="numberInput">Total Volume:</label>
        <InputNumber id="numberInput" @bind-Value="_data.TotalVolume" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>

@if (_prediction != null)
{
    <p>Prediction: @_prediction.PredictedValue</p>
}


@code {
    private HistoricalDataRecordViewModel _data = new();
    private HictoricalDataPredictionResult _prediction = null!;

    private void HandleSubmit()
    {
        _prediction = null;
        HistoricalDataRecord dataRecord = new()
        {
            Date = new DateTimeOffset(_data.Date).ToUnixTimeSeconds(),
            MarketCap = _data.MarketCap,
            TotalVolume = _data.TotalVolume
        };

        var _engine = PredictionEnginePool.GetPredictionEngine("FastTree");
        _prediction = _engine.Predict(dataRecord);
    }
}
